<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Main Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/mainMenu.css">
	
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/mainMenu.js" defer></script>
	<script>
		function includeHTML()
		{
			//target page attributes
			var elements = [];
			var index, data, file,  xhttp;
			elements = document.getElementsByTagName("*");
			
			for (index= 0; index <= elements.length; index++)
			{
				//Request data from mark-up source mark-up file
					if (elements[index].hasAttribute("include-file"))
					{
						file = elements[index].getAttribute("include-file");
					}
					
					if (file)
						{
							console.log(elements[index]);
							console.log("Template insertion request found.")
							xhttp = new XMLHttpRequest();
							data = elements[index]
							xhttp.onreadystatechange = function()
							{
								if (this.readyState == 4)
									{
										switch(this.status)
										{
											case 404:
											data.innerHTML = "404 Error: Page not found: ".concat(this.responseURL);

												break;
											case 200:
											data.innerHTML = this.responseText;
												break;
										}
										data.removeAttribute("include-file")
										includeHTML();
									}
							}
							xhttp.open("GET",file,true);
							xhttp.send();
							return;
					}	
			}
		}
	</script>
</head>

<div include-file="navbar.html"></div>
<script>
	includeHTML();
</script>


<body>
	<div footer-include="include-file"></div>
	

	<div class="header">
		<h1 class="primary-message">Main Menu</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<style>
			.tableOne td {
			  text-align:center;
			}
		  </style>
		
		<table class="tableOne" id="mainMenuTable" >
			<tbody >
				<tr>
					<td>
						<button class="action" onclick="window.location.href='/transactionView/start'">Start Transaction</button>
					</td>				
				</tr>
				<tr>
					<td>
						<button class="action" onclick="window.location.href='/productListing'">View Products</button>
					</td>
				</tr>
				<span th:if="${isElevated}">
					<tr>
						<td>
							<button class="action" onclick="window.location.href='/employeeDetail'">Create Employee</button>
						</td>
					</tr>
					<tr>
						<td>
							<button class="action" onclick="notImplemented();">Sales Report</button>
						</td>
					</tr>
					<tr>
						<td>
							<button class="action" onclick="notImplemented();">Cashier Report</button>
						</td>
					</tr>
				</span>
			</tbody>
		</table>
	</div>

	<div class="hidden">
		<input type="checkbox" id="isRefreshed" class="hidden">
		<script type="text/javascript">
			window.onunload = function() {
				const isRefreshedElement = document.getElementById("isRefreshed");

				if(!isRefreshedElement.checked) {
					isRefreshedElement.checked = true;
				} else {
					isRefreshedElement.checked = false;
					location.reload();
				}
			}
		</script>
	</div>

	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>
		
</body>

</html>