<html xmlns:th="https://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/navbar.css">
	
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<nav class = "navbar navbar-dark">
	<div class = "container-fluid">
		<div class = "navbar-header">
			<div class = "container">
				<a class = "navbar-brand" href = "#">
					<span><img class = "d-inline-block align middle mr-2" src="/images/Logo.png" width="64" height="64"></span>
					<span class = ".text">Register App™</span>
				</a>
				<span><ul class = "navbar-nav">
					<li><a class = "text" >Home</a></li>
					<li><a class = "text" onclick="window.location.href='/productListing'">Products</a></li>
					<li><a class = "text">Transaction</a></li>
				
				</ul>
			</span>
			</div>
			</div>		
	</div>
</nav>
</div>
</div>
<!-- <footer class=“page-footer”></footer> -->
</body>
<div class=“footer”>
<p>Footer</p>
</div>
</html>
</html>
