<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/navbar.css">



	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/signIn.js" defer></script>
</head>

<body>



	<img src="/images/Logo.png" class = "centered">
	<div class="header">		
		<h1 class="primary-message">Sign In</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
		<div>
	
		</div>
		<form action="/signIn" method="POST" onsubmit="return validateForm();" class="inputContent">
			<table id="employeeDetails">
				<tbody>
					<tr>
						<td class="label">Employee ID:</td>
						<td>
							<input type="text" id="employeeID" name="employeeID" th:value="${employeeId}" class="update" >
						</td>
					</tr>
					<tr>
						<td class="label">Password:</td>
						<td>
							<input type="password" id="employeePW" name="password" value="" class="update" >
						</td>
					</tr>
				</tbody>
			</table>
			<button value="Sign In" type="submit" class="action">Sign In</button>
		</form>
	</div>
</div>
<!-- <footer class=“page-footer”></footer> -->
</div>
</div>
<!-- <footer class=“page-footer”></footer> -->

	

</body>





</html>



