<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Transaction View</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/transactionView.css">
	<link rel="stylesheet" type="text/css" href="/styles/navbar.css">

	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transactionView.js" defer></script>
	<script>$(function(){
		$("#navbar").load("navbar.html");
	}
	
	);</script>
</head>

<body>

	<nav class = "navbar navbar-dark">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<div class = "container">
					<a class = "navbar-brand" href = "#">
						<span><img class = "d-inline-block align middle mr-2" src="/images/Logo.png" width="64" height="64"></span>
						<span class = ".text">Register App™</span>
					</a>
					<span><ul class = "nav navbar-nav">
						<li><a class = ".text" onclick="window.location.href='/mainMenu'">Home</a></li>
						<li><a class = ".text" onclick="window.location.href='/productListing'">Products</a></li>
						<li><a class = ".text">Transactions</a></li>
					</span>
					</ul>
				</div>
				</div>		
		</div>
	</nav>
	</html>
	
	<div id = "navbar"></div>
	<div class="header">
		<h1 class="primary-message">TRANSACTION</h1>
	</div>


	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<div class="transactionWrapper">
			<span th:if="${emptyCart}">
				<div>
					<h1>EMPTY </h1>
				</div>
			</span>

			<br /><br />
			<p>Today is: <span th:text="${today}">13 February 2011</span></p>
	
			<tr th:each="c : ${listTest}">
				<div>
					<div id="outer">
						<div class="inner"><button type="submit" class="msgBtn" onClick="return false;" >X</button></div>
						<td class="inner" th:text="${c.product.lookupCode}">1</td>
						<div class="inner">
							<form action="/increment" method="POST" class="inputContent">
								<input id="transactionContentID" name="transactionContentID" type="hidden" th:value="${c.transactionContent.id}" />
								<button type="submit" class="msgBtn2">+</button>
							</form>
						</div>

						<div class="inner"> 
							<p><span th:text="${c.transactionContent.quantity}"></span></p>
						</div>
						<div class="inner">
							<form action="/decrement" method="POST" class="inputContent">
								<input id="transactionContentID" name="transactionContentID" type="hidden" th:value="${c.transactionContent.id}" />
								<button type="submit" class="msgBtn2">-</button>
							</form>
						</div>
					  </div>
				</div>
				
			</tr>
			
			<p><span th:text="${transTotal}"></span></p>
			
			

		</div>

		<div class="hidden">
			<input type="checkbox" id="isRefreshed" class="hidden">
			<script type="text/javascript">
				window.onunload = function() {
					const isRefreshedElement = document.getElementById("isRefreshed");

					if(!isRefreshedElement.checked) {
						isRefreshedElement.checked = true;
					} else {
						isRefreshedElement.checked = false;
						location.reload();
					}
				}
			</script>
		</div>
	</div>
	<footer class="page-footer"></footer>
		
</body>

</html>
