.productDetailWrapper {
	display: inline-block;
}

#countAdd {
	float: left;
	color: white;
	background-color: rgb(66, 182, 114);
	font-family: monospace;
	text-align: center;
	font-size: 16;
	border-radius: 25px 25px 0px 0px;
	padding-left: 10px;
	padding-right: 10px;
	border-style: solid;
	border-width: 0px;
}

#countSubtract {
	float:left;
	color: white;
	background-color:rgb(231, 145, 111);
	font-family: monospace;
	text-align: center;
	font-size: 16;
	border-radius: 0px 0px 25px 25px;
	padding-left: 10px;
	padding-right: 10px;
	border-style: solid;
	border-width: 0px;
}

.label{

	color:rgb(65, 65, 182);
}
